name: Annotation

on:
  push:
    branches: [ main ]


jobs:
  # This workflow contains a single job called "build"
  annotation-openBacillus:
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v2
    - uses: Open-Science-Global/annotator@v0.6.1
    - uses: actions/upload-artifact@v2
      with:
        name: annotated-sequences
        path: output/
